@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@402&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&display=swap');

*{
    margin: 0px 0px;
    border-radius: 0.1px;
}

:root{
    --gradient-btn: linear-gradient(
    45deg, 
    #845ec2, 
    #d65db1, 
    #ff6f91, 
    #ff9671, 
    #ffc75f, 
    #f9f871);

    --gradient-card: linear-gradient(
        90deg, 
        rgba(22, 21, 21, 0.87),
        rgba(22, 21, 21, 0.87),
        #845ec2d5, 
        #d65db2d8, 
        #ff6f91c9);

    --gradient-titles:linear-gradient(
        90deg,
        #845ec2d5, 
        #d65db2d8, 
        #ff6f91c9
        #ff9671); 
    
    --gradient-title: linear-gradient(
        to right, 
        #845ec2, 
        #d65db1, 
        #ff6f91, 
        #ff9671, 
        #ff6f91,
        #d65db1,
        #845ec2);
}

/*                                                 |Animations|                                                    */
@keyframes bg-move{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

body{
    background-color: rgba(219, 213, 213, 0.637);
}

.home{
    position: absolute;
    width: fit-content;
    margin: 5px 8px;
}

.home_text {
    width: fit-content;
    font-size: 1.3em;
    color: rgb(34, 32, 32);
    padding: 4px 5px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    border-color: rgba(138, 135, 135, 0.822);
    box-shadow: 3px 5px 10px rgba(43, 42, 42, 0.253);
    background-image: var(--gradient-btn);
    background-size: 500%;
    background-position: top right;
    transition: border-radius 1s, background-position 1s;
}

.home_text:hover {
    color: rgb(34, 32, 32);
    background-position: bottom left;
    border-radius: 2px;
    background-image: var(--gradient-btn);
}

.header{
    margin-top: 5px;
    width: 100vw;
}

.title_div{
    width: fit-content;
    height: 6vh;
    margin: auto;
}

@keyframes bg-animation{ 
    from{background-position:left;}
    to{background-position: right;}
}

.title{
    font-family: 'Nunito', sans-serif;
    background-image: var(--gradient-title);
    background-size: 500%;
    background-position: left;
    -webkit-background-clip: text;
    padding: 0px 5px;
    color: transparent;
    font-size: 2.7em;
    transition: font-size 1s;
    animation: bg-animation 4s infinite alternate;
}

.cards{
    width: 100vw;
    margin-top: 7vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row{
    display: flex;
    width: fit-content;
    margin: auto;
}

.card{
    width: 30vw;
    margin: 5px 20px;
    box-shadow: 0px 8px 16px 0px rgba(116, 113, 113, 0.473);
    transition: box-shadow 1s;
    height: fit-content;
    border-radius: 3px;
    background-color:ghostwhite;
}

.card:hover{
    box-shadow: 0px 8px 16px 0px rgba(41, 39, 39, 0.753);
}

.cardcontent{
    width: 100%;
    height: 100%;
}

.image-div-main{
    width: 100%;
}

.image-div{
    width: fit-content;
    margin: auto;
}

.card_text_container{
    width: 90%;
    display: flex;
    margin: 5px auto;
    height: 155px;
    align-items: center;
}

.card_text{
    height: fit-content;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.card-img{
    height: 30vh;
}

.card-title-div{
    width: 100%;
}


.card-title{
    font-size: 1.8em;
    font-family: 'Barlow Condensed', sans-serif;
    width: fit-content;
    text-decoration: underline;
    color: transparent;
    margin: auto;
    background-image: linear-gradient(to right, black, #845ec2, 
    #d65db1);
    -webkit-background-clip: text;
    background-size: 500%;
    background-position: left;
    transition: background-position 1s;
}

.input-group{
    width: 100%;
    height: 90%;
}

.button_box{
    width: fit-content;
    margin: auto;
}

 
.dropbtn {
    color: ghostwhite;
    padding: 16px;
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.12em;
    border: none;
    width: fit-content;
    background-image: var(--gradient-btn);
    background-size: 500%;
    background-position: left;
    transition: background-position 1s, color 1s;
    box-shadow: 1px 0px 5px 1px rgba(109, 107, 107, 0.438);

  }

  .dropbtn:hover{
       background-position: right;
       color: black;
  }

  /* The container <div> - needed to position the dropup content */
 .dropup {
    position: relative;
    display: inline-block;
  }

  
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: transparent;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.145em;
    display: block;
    background-image: var(--gradient-card);
    background-size: 500%;
    -webkit-background-clip: text;
    background-position: left;
    transition: background-position 1s;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd; background-position: right}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  

  .divider-div{
      width: 80vw;
      height: fit-content;
      margin: 3vh auto;
      margin-top: 5vh;
  }

  .divider{
      width: 80vw;
      height: fit-content;
      text-align: center;
      color: transparent;
      font-size: 2em;
      font-family: 'Nunito', sans-serif;
  }


  @media screen and (max-width: 1205px){
    .dropup-content a{
        font-size: 1em;
    }
  }


  @media screen and (max-width: 1100px){
    body{
        height: 100vh;
    }
    .row{

        display: inline-block;
    }
    .card{
        width: 65vw;
        margin: 10px 20px;
    }
    .dropup-content a{
        font-size: 0.95em;
    }
  }

  @media screen and (max-width: 440px){
    @keyframes mk-small {
        from{font-size: 2.7em}
        to{font-size: 2em}
    }
      .title{
          font-size: 2em;
          animation: mk-small;
          animation-duration: 1s;
      }
      .card-img{
        height: auto;
        width: 34vw;
    }
      .card{
        width: 80vw;
        margin: 10px 5px;
    }

      .card_text{
        font-size: 0.87em;
    }

      .home_text{
          font-size: 1.1em;
      }
    .dropup-content a{
        font-size: 0.9em;
    }
  }

  @media screen and (max-width: 350px){
    @keyframes mk-small {
        from{font-size: 2em}
        to{font-size: 1.7em}
    }
      .title{
          font-size: 1.7em;
          animation: mk-small;
          animation-duration: 1s;
      }
      .card{
        width: 85vw;
        margin: 10px 5px;
    }

      .card_text{
        font-size: 0.7em;
    }

      .home_text{
          font-size: 0.9em;
      }
    .dropup-content a{
        font-size: 0.75em;
    }
    .divider{
        font-size: 1.5em; 
    }
  }

  @media screen and (max-width: 285px){
    @keyframes mk-small_new {
        from{font-size: 1.7em}
        to{font-size: 1.56em}
    }
      .title{
          font-size: 1.56em;
          animation: mk-small_new;
          animation-duration: 1s;
      }

      .card{
        width: 90vw;
    }

      .card_text{
          font-size: 0.76em;
      }
      
      .home_text{
          font-size: 0.7em;
      }
    .dropup-content a{
        font-size: 0.57em;
    }
  }

  @media screen and (max-width: 250px){
    @keyframes mk-small_new {
        from{font-size: 1.56em}
        to{font-size: 1.3em}
    }
      .title{
          font-size: 1.3em;
          animation: mk-small_new;
          animation-duration: 1s;
      }
      .card{
        width: 91vw;
    }

      .card_text{
          font-size: 0.7em;
      }
      
      .home_text{
          font-size: 0.6em;
      }
      .dropup-content a{
        font-size: 0.5em;    
    }
  }

  @media screen and (max-width: 230px){
    @keyframes mk-small_new {
        from{font-size: 1.3em}
        to{font-size: 1.2em}
    }
      .title{
          font-size: 1.2em;
          animation: mk-small_new;
          animation-duration: 1s;
      }
  }
  







